<!DOCTYPE html>
<html>

<head>
    <title>
        Youtube
    </title>
</head>

<body>
    <header class="header">
        <div class="left-section">
            <img class="hamburger-logo" src="assets/hamburger-menu.svg">
            <img class="youtube-logo" src="assets/youtube-logo.svg">
        </div>
        <div class="middle-section">
            <input class="search-bar" type="text" placeholder="Search">
            <button class="search-button">
                <img class="search-icon" src="assets/search.svg">
                <div class="tooltip">Search</div>
            </button>
            <button class="voice-search-button">
                <img class="voice-search-icon" src="assets/voice-search-icon.svg">
                <div class="tooltip">Search with your voice</div>
            </button>
        </div>
        <div class="right-section">
            <div class="upload-icon-container">
                <img class="upload-icon" src="assets/upload.svg">
                <div class="tooltip">Create</div>
            </div>
            <div class="youtube-apps-icon-container">
                <img class="youtube-apps-icon" src="assets/youtube-apps.svg">
                <div class="tooltip">Youtube apps</div>
            </div>
            <div class="notifications-icon-container">
                <img class="notifications-icon" src="assets/notifications.svg">
                <div class="notifications-count">3</div>
                <div class="tooltip">Notifications</div>
            </div>
            <img class="current-user-picture-icon" src="assets/my-channel.jpg">
        </div>
    </header>
    <nav class="sidebar">
        <div class="sidebar-link">
            <img src="assets/home.svg">
            <div>Home</div>
        </div>
        <div class="sidebar-link">
            <img src="assets/explore.svg">
            <div>Explore</div>
        </div>
        <div class="sidebar-link">
            <img src="assets/subscriptions.svg">
            <div>Subscriptions</div>
        </div>
        <div class="sidebar-link">
            <img src="assets/originals.svg">
            <div>Originals</div>
        </div>
        <div class="sidebar-link">
            <img src="assets/youtube-music.svg">
            <div>Youtube Music</div>
        </div>
        <div class="sidebar-link">
            <img src="assets/library.svg">
            <div>Library</div>
        </div>
    </nav>
    <main>
        <section class="video-grid">
            <div class="video-preview">
                <div class="thumbnail-row">
                    <a href="https://www.youtube.com/watch?v=Bd-nN4dTYUE&t=136s" target="_blank"
                        class="video-title-link">
                        <img class="thumbnail" src="assets/thumbnail-1.webp">
                    </a>
                    <div class="video-time">14:20</div>
                </div>
                <div class="video-info-grid">
                    <div class="channel-picture">
                        <div class="profile-picture-container">
                            <a href="https://www.youtube.com/@EricOneHive" target="_blank" class="channel-link">
                                <img class="profile-picture" src="assets/channel-1.jpeg">
                            </a>
                            <div class="channel-tooltip">
                                <img class="channel-tooltip-picture" src="assets/channel-1.jpeg">
                                <div class="channel-info-tooltip">
                                    <p class="channel-tooltip-name">Clash with Eric - OneHive</p>
                                    <p class="channel-tooltip-stats">412K subscribers</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="video-info">
                        <a href="https://www.youtube.com/watch?v=Bd-nN4dTYUE&t=136s" target="_blank"
                            class="video-title-link">
                            <p class="video-title">Bernaul's GIANT ARROW TRICK unlocks INSANE NEW Dragon META! Clash of
                                Clans</p>
                        </a>
                        <div class="tooltip-hover">
                            <a href="https://www.youtube.com/@EricOneHive" target="_blank" class="channel-link">
                                <p class="video-author">Clash with Eric - OneHive</p>
                            </a>
                            <p class="video-stats">11K views &#183; 7 Hours ago</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="video-preview">
                <div class="thumbnail-row">
                    <a href="https://www.youtube.com/watch?v=xo2ewLCjUKE" target="_blank" class="video-title-link">
                        <img class="thumbnail" src="assets/thumbnail-2.webp">
                    </a>
                    <div class="video-time">8:22</div>
                </div>
                <div class="video-info-grid">
                    <div class="channel-picture">
                        <div class="profile-picture-container">
                            <a href="https://www.youtube.com/@ChessBaseIndiachannel" target="_blank"
                                class="channel-link">
                                <img class="profile-picture" src="assets/channel-2.jpeg">
                            </a>
                            <div class="channel-tooltip">
                                <img class="channel-tooltip-picture" src="assets/channel-2.jpeg">
                                <div class="channel-info-tooltip">
                                    <p class="channel-tooltip-name">ChessBase India</p>
                                    <p class="channel-tooltip-stats">1.66M subscribers</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="video-info">
                        <a href="https://www.youtube.com/watch?v=xo2ewLCjUKE" target="_blank" class="video-title-link">
                            <p class="video-title">Two speed monsters | Firouzja vs Praggnanandhaa | Norway Chess 2024
                                Armageddon</p>
                        </a>
                        <a href="https://www.youtube.com/@ChessBaseIndiachannel" target="_blank" class="channel-link">
                            <p class="video-author">ChessBase India</p>
                        </a>
                        <p class="video-stats">90k views &#183; 4 years ago</p>
                    </div>
                </div>
            </div>
            <div class="video-preview">
                <div class="thumbnail-row">
                    <a href="https://www.youtube.com/watch?v=GNIkxnkhe-s" target="_blank" class="video-title-link">
                        <img class="thumbnail" src="assets/thumbnail-3.webp">
                    </a>
                    <div class="video-time">9:13</div>
                </div>
                <div class="video-info-grid">
                    <div class="channel-picture">
                        <div class="profile-picture-container">
                            <a href="https://www.youtube.com/@GMHikaru" target="_blank" class="channel-link">
                                <img class="profile-picture" src="assets/channel-3.jpeg">
                            </a>
                            <div class="channel-tooltip">
                                <img class="channel-tooltip-picture" src="assets/channel-3.jpeg">
                                <div class="channel-info-tooltip">
                                    <p class="channel-tooltip-name">GMHikaru</p>
                                    <p class="channel-tooltip-stats">2.38M subscribers</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="video-info">
                        <a href="https://www.youtube.com/watch?v=GNIkxnkhe-s" target="_blank" class="video-title-link">
                            <p class="video-title">It's The Danya and Naka Show!!</p>
                        </a>
                        <a href="https://www.youtube.com/@GMHikaru" target="_blank" class="channel-link">
                            <p class="video-author">GMHikaru</p>
                        </a>
                        <p class="video-stats">35K views &#183; 12 Hours ago</p>
                    </div>
                </div>
            </div>
            <div class="video-preview">
                <div class="thumbnail-row">
                    <a href="https://www.youtube.com/watch?v=6ovM8s-k3Y0&t=51s" target="_blank"
                        class="video-title-link">
                        <img class="thumbnail" src="assets/thumbnail-4.webp">
                    </a>
                    <div class="video-time">22:09</div>
                </div>
                <div class="video-info-grid">
                    <div class="channel-picture">
                        <div class="profile-picture-container">
                            <a href="https://www.youtube.com/@carbon_playz" target="_blank" class="channel-link">
                                <img class="profile-picture" src="assets/channel-4.jpeg">
                            </a>
                            <div class="channel-tooltip">
                                <img class="channel-tooltip-picture" src="assets/channel-4.jpeg">
                                <div class="channel-info-tooltip">
                                    <p class="channel-tooltip-name">CarbonPlayz</p>
                                    <p class="channel-tooltip-stats">143K subscribers</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="video-info">
                        <a href="https://www.youtube.com/watch?v=6ovM8s-k3Y0&t=51s" target="_blank"
                            class="video-title-link">
                            <p class="video-title">BEST Town Hall 11 Attack Strategies without Siege Machines!</p>
                        </a>
                        <a href="https://www.youtube.com/@carbon_playz" target="_blank" class="channel-link">
                            <p class="video-author">CarbonPlayz</p>
                        </a>
                        <p class="video-stats">38K views &#183; 1 Year ago</p>
                    </div>
                </div>
            </div>
            <div class="video-preview">
                <div class="thumbnail-row">
                    <a href="https://www.youtube.com/watch?v=_bznr0L58vc" target="_blank" class="video-title-link">
                        <img class="thumbnail" src="assets/thumbnail-5.webp">
                    </a>
                    <div class="video-time">11:17</div>
                </div>
                <div class="video-info-grid">
                    <div class="channel-picture">
                        <div class="profile-picture-container">
                            <a href="https://www.youtube.com/@GothamChess" target="_blank" class="channel-link">
                                <img class="profile-picture" src="assets/channel-5.jpeg">
                            </a>
                            <div class="channel-tooltip">
                                <img class="channel-tooltip-picture" src="assets/channel-5.jpeg">
                                <div class="channel-info-tooltip">
                                    <p class="channel-tooltip-name">GothamChess</p>
                                    <p class="channel-tooltip-stats">1.89M subscribers</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="video-info">
                        <a href="https://www.youtube.com/watch?v=_bznr0L58vc" target="_blank" class="video-title-link">
                            <p class="video-title">New World Reord!!!!!!</p>
                        </a>
                        <a href="https://www.youtube.com/@GothamChess" target="_blank" class="channel-link">
                            <p class="video-author">GothamChess</p>
                        </a>
                        <p class="video-stats">519K views &#183; 5 years ago</p>
                    </div>
                </div>
            </div>
            <div class="video-preview">
                <div class="thumbnail-row">
                    <a href="https://www.youtube.com/watch?v=mO4HcyhB22E" target="_blank" class="video-title-link">
                        <img class="thumbnail" src="assets/thumbnail-6.webp">
                    </a>
                    <div class="video-time">19:59</div>
                </div>
                <div class="video-info-grid">
                    <div class="channel-picture">
                        <div class="profile-picture-container">
                            <a href="https://www.youtube.com/@Spoit" target="_blank" class="channel-link">
                                <img class="profile-picture" src="assets/channel-6.jpeg">
                            </a>
                            <div class="channel-tooltip">
                                <img class="channel-tooltip-picture" src="assets/channel-6.jpeg">
                                <div class="channel-info-tooltip">
                                    <p class="channel-tooltip-name">Spoit</p>
                                    <p class="channel-tooltip-stats">129M subscribers</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="video-info">
                        <a href="https://www.youtube.com/watch?v=mO4HcyhB22E" target="_blank" class="video-title-link">
                            <p class="video-title">Anything You Can Fit In The Circle I’ll Pay For</p>
                        </a>
                        <a href="https://www.youtube.com/@Spoit" target="_blank" class="channel-link">
                            <p class="video-author">Spoit</p>
                        </a>
                        <p class="video-stats">141M views &#183; 1 year ago</p>
                    </div>
                </div>
            </div>
            <div class="video-preview">
                <div class="thumbnail-row">
                    <a href="https://www.youtube.com/watch?v=CzbC7PtCp9Q&pp=ygUPa3JhbW5payBhbm5veWVk" target="_blank"
                        class="video-title-link">
                        <img class="thumbnail" src="assets/thumbnail-7.webp">
                    </a>
                    <div class="video-time">10:13</div>
                </div>
                <div class="video-info-grid">
                    <div class="channel-picture">
                        <div class="profile-picture-container">
                            <a href="https://www.youtube.com/@mooserrchess" target="_blank" class="channel-link">
                                <img class="profile-picture" src="assets/channel-7.jpeg">
                            </a>
                            <div class="channel-tooltip">
                                <img class="channel-tooltip-picture" src="assets/channel-7.jpeg">
                                <div class="channel-info-tooltip">
                                    <p class="channel-tooltip-name">mooser</p>
                                    <p class="channel-tooltip-stats">6.56M subscribers</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="video-info">
                        <a href="https://www.youtube.com/watch?v=CzbC7PtCp9Q&pp=ygUPa3JhbW5payBhbm5veWVk"
                            target="_blank" class="video-title-link">
                            <p class="video-title">When Young Hikaru Challenged Kramnik</p>
                        </a>
                        <a href="https://www.youtube.com/@mooserrchess" target="_blank" class="channel-link">
                            <p class="video-author">mooser</p>
                        </a>
                        <p class="video-stats">6.6M views &#183; 1 year ago</p>
                    </div>
                </div>
            </div>
            <div class="video-preview">
                <div class="thumbnail-row">
                    <a href="https://www.youtube.com/watch?v=0_EMrfPD1so&t=11s" target="_blank"
                        class="video-title-link">
                        <img class="thumbnail" src="assets/thumbnail-8.webp">
                    </a>
                    <div class="video-time">7:12</div>
                </div>
                <div class="video-info-grid">
                    <div class="channel-picture">
                        <div class="profile-picture-container">
                            <a href="https://www.youtube.com/@BABLOOLAHORI" target="_blank" class="channel-link">
                                <img class="profile-picture" src="assets/channel-8.jpeg">
                            </a>
                            <div class="channel-tooltip">
                                <img class="channel-tooltip-picture" src="assets/channel-8.jpeg">
                                <div class="channel-info-tooltip">
                                    <p class="channel-tooltip-name">Babloo Lahori</p>
                                    <p class="channel-tooltip-stats">798K subscribers</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="video-info">
                        <a href="https://www.youtube.com/watch?v=0_EMrfPD1so&t=11s" target="_blank"
                            class="video-title-link">
                            <p class="video-title">How to Choose A Best SmartPhone in 2024</p>
                        </a>
                        <a href="https://www.youtube.com/@BABLOOLAHORI" target="_blank" class="channel-link">
                            <p class="video-author">Babloo Lahori</p>
                        </a>
                        <p class="video-stats">3.7M views &#183; 10 months ago</p>
                    </div>
                </div>
            </div>
            <div class="video-preview">
                <div class="thumbnail-row">
                    <a href="https://www.youtube.com/watch?v=KO43_56HN8Q" target="_blank" class="video-title-link">
                        <img class="thumbnail" src="assets/thumbnail-9.webp">
                    </a>
                    <div class="video-time">13:17</div>
                </div>
                <div class="video-info-grid">
                    <div class="channel-picture">
                        <div class="profile-picture-container">
                            <a href="https://www.youtube.com/@jjolatunji" target="_blank" class="channel-link">
                                <img class="profile-picture" src="assets/channel-9.jpeg">
                            </a>
                            <div class="channel-tooltip">
                                <img class="channel-tooltip-picture" src="assets/channel-9.jpeg">
                                <div class="channel-info-tooltip">
                                    <p class="channel-tooltip-name">JJ Olatunji</p>
                                    <p class="channel-tooltip-stats">7.56M subscribers</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="video-info">
                        <a href="https://www.youtube.com/watch?v=KO43_56HN8Q" target="_blank" class="video-title-link">
                            <p class="video-title">I'm Fighting Again</p>
                        </a>
                        <a href="https://www.youtube.com/@jjolatunji" target="_blank" class="channel-link">
                            <p class="video-author">JJ Olatunji</p>
                        </a>
                        <p class="video-stats">20M views &#183; 3 year ago</p>
                    </div>
                </div>
            </div>
            <div class="video-preview">
                <div class="thumbnail-row">
                    <a href="https://www.youtube.com/watch?v=YdUnx9Ty4qU" target="_blank" class="video-title-link">
                        <img class="thumbnail" src="assets/thumbnail-10.webp">
                    </a>
                    <div class="video-time">7:53</div>
                </div>
                <div class="video-info-grid">
                    <div class="channel-picture">
                        <div class="profile-picture-container">
                            <a href="https://www.youtube.com/@shroud" target="_blank" class="channel-link">
                                <img class="profile-picture" src="assets/channel-10.jpeg">
                            </a>
                            <div class="channel-tooltip">
                                <img class="channel-tooltip-picture" src="assets/channel-10.jpeg">
                                <div class="channel-info-tooltip">
                                    <p class="channel-tooltip-name">Shroud</p>
                                    <p class="channel-tooltip-stats">7.36M subscribers</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="video-info">
                        <a href="https://www.youtube.com/watch?v=YdUnx9Ty4qU" target="_blank" class="video-title-link">
                            <p class="video-title">I tried Landing in the Most Dangerous Spot in PUBG</p>
                        </a>
                        <a href="https://www.youtube.com/@shroud" target="_blank" class="channel-link">
                            <p class="video-author">Shroud</p>
                        </a>
                        <p class="video-stats">14M views &#183; 1 year ago</p>
                    </div>
                </div>
            </div>
            <div class="video-preview">
                <div class="thumbnail-row">
                    <a href="https://www.youtube.com/watch?v=iDnW0WiCqNc" target="_blank" class="video-title-link">
                        <img class="thumbnail" src="assets/thumbnail-11.webp">
                    </a>
                    <div class="video-time">4:10</div>
                </div>
                <div class="video-info-grid">
                    <div class="channel-picture">
                        <div class="profile-picture-container">
                            <a href="https://www.youtube.com/@paralogical-dev" target="_blank" class="channel-link">
                                <img class="profile-picture" src="assets/channel-11.jpeg">
                            </a>
                            <div class="channel-tooltip">
                                <img class="channel-tooltip-picture" src="assets/channel-11.jpeg">
                                <div class="channel-info-tooltip">
                                    <p class="channel-tooltip-name">Paralogical</p>
                                    <p class="channel-tooltip-stats">279K subscribers</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="video-info">
                        <a href="https://www.youtube.com/watch?v=iDnW0WiCqNc" target="_blank" class="video-title-link">
                            <p class="video-title">Rarest Move in Chess</p>
                        </a>
                        <a href="https://www.youtube.com/@paralogical-dev" target="_blank" class="channel-link">
                            <p class="video-author">Paralogical</p>
                        </a>
                        <p class="video-stats">3M views &#183; 1 year ago</p>
                    </div>
                </div>
            </div>
            <div class="video-preview">
                <div class="thumbnail-row">
                    <a href="https://www.youtube.com/watch?v=iPJXaF8mInE" target="_blank" class="video-title-link">
                        <img class="thumbnail" src="assets/thumbnail-12.webp">
                    </a>
                    <div class="video-time">4:51</div>
                </div>
                <div class="video-info-grid">
                    <div class="channel-picture">
                        <div class="profile-picture-container">
                            <a href="https://www.youtube.com/@LexnosGaming" target="_blank" class="channel-link">
                                <img class="profile-picture" src="assets/channel-12.jpeg">
                            </a>
                            <div class="channel-tooltip">
                                <img class="channel-tooltip-picture" src="assets/channel-12.jpeg">
                                <div class="channel-info-tooltip">
                                    <p class="channel-tooltip-name">Lexnos Gaming</p>
                                    <p class="channel-tooltip-stats">18.1M subscribers</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="video-info">
                        <a href="https://www.youtube.com/watch?v=iPJXaF8mInE" target="_blank" class="video-title-link">
                            <p class="video-title">Best Way To Use New Giant Arrow Equipment in Clash Of Clans</p>
                        </a>
                        <a href="https://www.youtube.com/@LexnosGaming" target="_blank" class="channel-link">
                            <p class="video-author">Lexnos Gaming</p>
                        </a>
                        <p class="video-stats">12M views &#183; 5 years ago</p>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>

</html>